#introducción
SQL

El lenguaje de consulta estructurada (SQL) es un lenguaje de consulta popular que se usa con frecuencia en todos los tipos de aplicaciones. [SQL](https://aws.amazon.com/es/what-is/sql/#:~:text=es%20importante%20SQL%3F-,El%20lenguaje%20de%20consulta%20estructurada%20(SQL)%20es%20un%20lenguaje%20de,los%20diferentes%20lenguajes%20de%20programaci%C3%B3n.)

¿Para que srve y como lo puedes usar en tu carrera?
para trabajar con conjuntos de datos y las relaciones
[SQL](https://support.microsoft.com/es-es/topic/access-sql-conceptos-b%C3%A1sicos-vocabulario-y-sintaxis-444d0303-cde1-424e-9a74-e8dc3e460671#:~:text=las%20consultas%3A%20UNION-,%C2%BFQu%C3%A9%20es%20SQL%3F,SQL%20para%20trabajar%20con%20datos.)

lo podemos usar para crear bases de datos

¿Que librerias hay para trabajar SQL en google colab?
SQLAlchemy, iPySQL,Psycopg2,cx_Oracle,PyODBC
[librerias](https://learn.microsoft.com/es-es/sql/connect/sql-connection-libraries?view=sql-server-ver16)

In [1]:
import sqlite3

My SQL necesita conexiones e instalaciones; el benchmark es el mejor de todos los queries. La ventaja de trabajar con sqlite, es que podemos crear bases de datos por default;mientras que en My sql es necesario crear la base de datos.

vamos a crear una base de datos

nuestra base de datos

In [3]:
#para crear a la base de datos, es necesario conectar con el servidor de SQL.

con = sqlite3.connect("libros_db.sqlite")

Ahora vamos a diseñar una tabla

In [5]:
#creamos un cursor

cursor=con.cursor()

#aquí vamos a ejecutar los datos necesarios para crear la tabla

cursor.execute('''
CREATE TABLE libros(
  id INTEGER PRIMARY KEY,
  titulo TEXT NOT NULL,
  autor TEXT NOT NULL,
  año INTEGER
)
''')

In [7]:
libros_datos=[("Harry Potter", "JKR", 1997),
              ("The Hobbit", "Tolkien", 1937),
              ("Better than the Movies", "Lynn Painter", 2021),
              ("La sombra de Viento", "Carlos Ruiz Zafón", 2001)]

cursor.executemany("""
INSERT INTO libros (titulo, autor,año) VALUES(?,?,?)""", libros_datos)
con.commit()

In [10]:
cursor.execute("SELECT * FROM libros")
libros=cursor.fetchall()
for libro in libros:
  print(libros)

[(1, 'Harry Potter', 'JKR', 1997), (2, 'The Hobbit', 'Tolkien', 1937), (3, 'Better than the Movies', 'Lynn Painter', 2021), (4, 'La sombra de Viento', 'Carlos Ruiz Zafón', 2001)]
[(1, 'Harry Potter', 'JKR', 1997), (2, 'The Hobbit', 'Tolkien', 1937), (3, 'Better than the Movies', 'Lynn Painter', 2021), (4, 'La sombra de Viento', 'Carlos Ruiz Zafón', 2001)]
[(1, 'Harry Potter', 'JKR', 1997), (2, 'The Hobbit', 'Tolkien', 1937), (3, 'Better than the Movies', 'Lynn Painter', 2021), (4, 'La sombra de Viento', 'Carlos Ruiz Zafón', 2001)]
[(1, 'Harry Potter', 'JKR', 1997), (2, 'The Hobbit', 'Tolkien', 1937), (3, 'Better than the Movies', 'Lynn Painter', 2021), (4, 'La sombra de Viento', 'Carlos Ruiz Zafón', 2001)]